.items-block {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 14px;
  padding: 20px;
  width: 220px;
  cursor: pointer;
  background: linear-gradient(135deg, #292B31, #3A3D46);
  transition: scale 0.150s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.23);

  &:active {
    scale: 0.93;
  }
}

.item img {
  width: 50px;
  height: 50px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text h4 {
  margin: 0;
  font-weight: 600;
  padding: 2px 25px 2px 0;
}

.text p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  padding: 0 5px;
}

.text-red {
  transition: color .150s, background 0.05s;
  color: #42af80;
  background: url("icons/check-all.svg") center right / 20px no-repeat;
}
